.coffee_body_div{
    background-color: #F5F5D6;
    color: #2e0000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("background.gif"); 
}
.header_div{
    background-color: #D2B48C;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:100px;
    margin: 0%;
    background-image: url("javalogo.gif");
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
}
#footer_div{
    background-color: #D2B48C;
    color: #000000;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding:10px;
}
.redirect_panel{
    font-weight: bold;
    padding:10px;
    background-color: #E6D6A9;
    text-align: center;
}

#hero{
    height:300px;
    color: #F5F5dc;
    background-size: 100% 100%;
    background-image: url("heroroad.jpg");
    background-repeat: no-repeat;
}


.list_div{
    font-weight: bold;
}

li {
    list-style-image: url(marker.gif);
    }
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h3{
    background-color: #E6D6A9;
    text-transform: uppercase;
}
#wrapper{
    width:80%;
    background-color: #F5F5dc;  
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px #2E0000;
}

#main_div_panel{
    padding:20px;
    display:block;
}

.news{
    margin-left: 20%;
    margin-right: 20%;
}

nav ul { 
    list-style-type: none; 
    margin: 0;
}
nav li { 
  padding: 0.5em;
  display: inline-block;
}
nav a { 
    text-decoration: none; 
    display: block;
    text-align: center;   
}

nav a:link { color: #FFFFFF; }
nav a:visited { color: rgba(255, 102, 31, 0.589); }
nav a:hover {  color:   #2e0000; } 
nav ul ul { position: absolute;
         background-color: rgba(158, 118, 33, 0.795);
    	 padding: 0;
         display: none; 
		 text-align: left;
}
nav ul ul li { 
         border: 1px solid  rgba(158, 118, 33, 0.795);
 		 display: block;
         width: 7em; 
         padding: 0;
         padding-left: 1em;
         margin-left: 0; 
}
nav li:hover ul { display: block; }

table, th, td {
    border: 1px solid black;
  }

tr:hover {background-color: #f5f5f5;}

.figure_one {
    float: left;
    width: 18%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 1.5em;
    padding: 0.5em;
    border: thin silver solid;
  }

  .figure_two {
    float: left;
    width: 18%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 1.5em;
    padding: 0.5em;
    border: thin silver solid;
  }

  .figure_three {
    float: left;
    width: 18%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 1.5em;
    padding: 0.5em;
    border: thin silver solid;
  }

  .figure_four {
    float: left;
    width: 18%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 1.5em;
    padding: 0.5em;
    border: thin silver solid;
  }
  
  .figure_five {
    float: left;
    width: 18%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 1.5em;
    padding: 0.5em;
    border: thin silver solid;
  }

   
  .figure_six {
    float: left;
    width: 18%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 1.5em;
    padding: 0.5em;
    border: thin silver solid;
  }

  .figure_seven {
    float: left;
    width: 18%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 1.5em;
    padding: 0.5em;
    border: thin silver solid;
  }

  .figure_eight {
    float: left;
    width: 18%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 1.5em;
    padding: 0.5em;
    border: thin silver solid;
  }
  

  
#hero_gallery{
    height:475px;
    color: #F5F5dc;
    background-size: 100% 100%;
    background-image: url("gallery_bg.jpg");
    background-repeat: no-repeat;
}

figure.figure_one:hover img {
opacity: 1;
-moz-transform:scale(1.5);
-ms-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5);
}

figure.figure_two:hover img {
    opacity: 1;
    -moz-transform:scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

figure.figure_three:hover img {
    opacity: 1;
    -moz-transform:scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

figure.figure_four:hover img {
    opacity: 1;
    -moz-transform:scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

figure.figure_five:hover img {
    opacity: 1;
    -moz-transform:scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

figure.figure_six:hover img {
    opacity: 1;
    -moz-transform:scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

figure.figure_seven:hover img {
    opacity: 1;
    -moz-transform:scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

figure.figure_eight:hover img {
    opacity: 1;
    -moz-transform:scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}
@media screen and (max-width: 1024px){
main{margin-left: 0px;}
nav {float: none; width:auto;}

}