label {	
    float: left;
    width: 150px;
  }
#container{
          width: 800px;
          margin: auto;
          background-color: beige;
 } 
main{
          padding: 50px;
}

#email-error-label,#fname-error-label
,#lname-error-label,#phone-error-label,
#zipcode-error-label , #comments-error-label,
#radio-error-label, #checkbox-error-label{
    color: red;
    float: right;
}